@value backgroundDarkGray, backgroundLightGray, lightGrayfontColor,fontColor, tagColor, bgphoto from '../../common/colors.css';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.primary {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.secondary {
  width: 100%;
  max-width: 420px;
  margin-left: 3rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 0.8em;
}

.contents_info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #6d696979;
}

.tag {
  color: tagColor;
  margin-right: 10px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8em;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.8em;
}

.publishedAt {
  color: lightGrayfontColor;
  font-size: 14px;
}

.buttons {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  border: none;
  padding: 0.3em 0.8em;
  font-size: 14px;
  cursor: pointer;
}

.svg {
  height: 24px;
  width: 24px;
  fill: white;
}

.button_text {
  margin-left: 0.2em;
}

.wrapper {
  width: 100%;
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid #6d696979;
}

.channelThumbnail {
  width: 48px;
  height: 48px;
  background-color: bgphoto;
  border-radius: 50%;
  margin-right: 20px;
}

.channel_title {
  font-weight: 600;
  margin-bottom: 0.8em;
}

.channel_info {
  display: flex;
  flex-direction: column;
}

.description {
  white-space: pre-wrap;
}

.list {
  background-color: backgroundDarkGray;
  padding: 8px 12px;
  border: 1px solid backgroundLightGray;
  margin-bottom: 10px;
  border-radius: 20px;
  display: inline-block;
}

@media screen and (max-width: 64rem) {
  .container {
    flex-direction: column;
  }

  .secondary {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
