@value backgroundLightGray, lightGrayfontColor, tagColor, bgphoto from '../../common/colors.css';

.container {
  width: 100%;
  padding: 0.3em;
}

.video {
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video.row {
  display: flex;
}

.video.column {
  display: flex;
  flex-direction: column;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 100%;

  text-align: center;
  background-color: bgphoto;
}

.thumbnail.row {
  width: 168px;
  height: 94px;
  margin-right: 10px;
  background-color: backgroundLightGray;
}

.details {
  display: flex;
  margin-top: 0.6em;
}

.details.row {
  display: flex;
  margin-top: 0;
}

.channelThumbnail {
  width: 36px;
  height: 36px;
  background-color: bgphoto;
  border-radius: 50%;
  margin-right: 10px;
}

.channelThumbnail.row {
  display: none;
}

.metadata {
  display: flex;
  flex-direction: column;
}

.metadata {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.title.row {
  font-size: 0.8em;
  font-weight: 600;
}

.channel_title,
.publishedAt {
  color: lightGrayfontColor;
  font-size: 0.8em;
}
