.container {
  width: 100%;
  padding: 0.3em;
}

.video {
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video.list {
  display: flex;
}

/* .video.grid {
} */

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 100%;
  text-align: center;
}

.thumbnail.list {
  width: 40%;
  height: 100%;
  margin-right: 10px;
  background-color: #ffffff1a;
}

.details {
  display: flex;
  margin-top: 0.6em;
}

.wrapper {
  width: 15%;
  min-width: 40px;
}

.channel_thumbnail {
  width: 30px;
  height: 30px;
  background-color: #6d6969fa;
  border-radius: 50%;
  margin-right: 10px;
}

.metadata {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1em;
  font-weight: 600;
}

.channel_title,
.publishedAt {
  color: #aaaaaa;
  font-size: 0.8em;
}
