@value backgroundBlack, backgroundWhite, backgroundDarkGray, lightGrayfontColor, backgroundLightGray, bgphoto from '../../common/colors.css';

.header,
.header.dark {
  position: fixed;
  top: 0;
  height: 70;
  width: 100%;
  padding: 1em 2em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: backgroundDarkGray;
  z-index: 2;
  font-family: 'Oswald', sans-serif;
}

.header.light {
  background-color: white;
}

.wrapper {
  display: flex;
  margin-right: 10px;
}

.guideBtn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
}

.logo,
.logo.dark {
  display: inline-flex;
  height: 40px;
  align-items: center;
  cursor: pointer;
  color: white;
}

.logo.light {
  color: backgroundBlack;
}

.youtube {
  height: 30px;
}

.title {
  font-size: 24px;
  margin-left: 0.2em;
  font-weight: 600;
}

.search,
.search.hidden {
  width: 420px;
}

.form,
.form.hidden,
.form.dark {
  width: 100%;
  text-align: center;
  background-color: backgroundLightGray;
}

.form.light {
  color: backgroundBlack;
  border: 1px solid lightGrayfontColor;
}

.input,
.input.hidden,
.input.dark {
  width: 75%;
  padding: 2px 15px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #f1f1f1;
}

.input.light {
  color: #575757;
}

.searchBtn,
.searchBtn.dark {
  background-color: transparent;
  height: 30px;
  width: 30px;
  color: lightGrayfontColor;
  outline: none;
  border: none;
  font-size: 18px;
  /* margin-left: 10px; */
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  /* height: 40px;
  width: 40px; */
  background-color: transparent;
  vertical-align: middle;
  outline: none;
  border: none;
  line-height: 0;
  cursor: pointer;
  z-index: 3;
  margin-right: 15px;
}

.button:last-child {
  margin-right: 0;
}

.svg,
.svg.dark {
  height: 24px;
  fill: white;
}

.svg.light {
  fill: backgroundBlack;
}

.avatar {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: bgphoto;
}

.showSearchBtn {
  display: none;
}

.search.display {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 4;
}

.form.display,
.form.display.dark {
  background-color: #575757;
  height: 100%;
  width: 100%;
}

.form.display.light {
  background-color: backgroundWhite;
}

.input.display {
  height: 100%;
  width: 70%;
}

.btn {
  position: absolute;
  height: 100%;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .search {
    display: none;
  }

  .showSearchBtn {
    display: block;
  }

  .input.display {
    height: 100%;
    width: 60%;
  }
}
