@value backgroundDarkGray from '../../common/colors.css';

.header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  padding: 1em 2em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: backgroundDarkGray;
  z-index: 2;
  font-family: 'Oswald', sans-serif;
}

.wrapper {
  display: flex;
}

.guideBtn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.youtube {
  height: 35px;
}

.title {
  font-size: 28px;
  margin-left: 0.2em;
  color: white;
  font-weight: 600;
}

.search {
  width: 40%;
}

.form {
  width: 100%;
  text-align: center;
}

.inputWrapper {
  background-color: #ffffff1a;
  color: #aaaaaa;
  border-radius: 20px;
}

.input {
  height: 34px;
  width: 75%;
  padding: 2px 15px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #f1f1f1;
}

.search__btn {
  background-color: transparent;
  height: 30px;
  width: 30px;
  color: #aaaaaa;
  outline: none;
  border: none;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  vertical-align: middle;
  outline: none;
  margin: 0;
  border: none;
  padding: 0;
  line-height: 0;
  margin-right: 15px;
  cursor: pointer;
}

.svg {
  height: 24px;
  fill: white;
}

.avatar {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #6d6969fa;
}

@media screen and (max-width: 48rem) {
  .search {
    display: none;
  }
}
