@value backgroundBlack, backgroundWhite, backgroundDarkGray, backgroundLightGray, fontColor from '../../common/colors.css';

.nav,
.nav.dark {
  background-color: backgroundDarkGray;
  position: fixed;
  top: 4rem;
  left: 0;
  bottom: 0;
  width: 72px;
}

.nav.light {
  background-color: white;
}

.li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 14px;
  cursor: pointer;
}

.li:hover {
  background-color: backgroundLightGray;
}

.li.light:hover {
  background-color: rgba(197, 197, 197, 0.7);
}

.svg,
.svg.dark {
  height: 24px;
  width: 24px;
  fill: fontColor;
  margin-bottom: 6px;
}

.svg.light {
  fill: backgroundBlack;
}

.span {
  font-size: 10px;
  text-overflow: ellipsis;
}

@media screen and (max-width: 64rem) {
  .nav {
    display: none;
  }
}
